{% extends 'dragonfly/base.html' %}
{% load static %}
{% load extra_tags %}
{% block title %}
    <title>Dragonfly Travel</title>
{% endblock %}
{% block content %}
    <div id="header" class="parallax">
            {% include 'dragonfly/search_box.html' %}
    </div>
    <div class="container marketing">
    </div>
    <div class="sgv_divider"></div>
    <div class="container marketing">
        <div class="row">
            {% for promo in promotions|limit:3 %}
                {% include 'dragonfly/_partials/promotion_bar.html' with promo=promo %}

            {% endfor %}
        </div>
    </div>
    <div class="sgv_divider"></div>
    <div class="container marketing">
        <hr>
        <div class="row"><h5>Most Popular Routes</h5></div>
         <div class="row">
             {% for search in most_popular %}
                 <div class="col">
                     <h6>{{search.origins|decode_name}} - {{search.destinations|decode_name}}</h6>
                 </div>
              {% endfor%}
         </div>
    </div>
    <div class="sgv_divider"></div>
    <div class="container marketing">
        <hr>
        <div class="row"><h5>Trending Routes</h5></div>
         <div class="row">
             {% for search in trending_7days %}
                 <div class="col">
                     <h6>{{search.origins|decode_name}} - {{search.destinations|decode_name}}</h6>
                 </div>
              {% endfor%}
         </div>
    </div>
{% endblock %}