{% extends 'dragonfly/base.html' %}
{% load static %}
{% block title %}

{% load extra_tags %}
    <title>Itinerary Details</title>
{% endblock %}

{% block content %}

<div class="container parallax"  style="background-image: url(../{{itinerary.leg_summary.0.arrival_airport|get_image}}); height:500px">

    <div class="sgv_divider"></div>
    <div class="row" >


        <div class="col-12">{% include 'dragonfly/_partials/itinerary_tag.html' with itinerary=itinerary itin_id=itin_id %}</div>
    </div>
    <div class="row"></div>
    <div class="row"></div>

</div>

{% endblock %}