{% extends 'dragonfly/base.html' %}
{% load static %}
{% load extra_tags %}

{% block title %}
    <title>Web Stats</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"><h1>Reservations: {{reservation_count}}</h1></div>
        <div class="col"><h1>Searches: {{search_count}}</h1></div>
        <div class="col"></div>
    </div>
    <div class="row">

        <div class="col">
            <h2>Conversion</h2>
            <input class="form-control" id="conversion_input" type="text" placeholder="Search..">


            <table id="conversion_table" class="table table-striped table-hover table-sm table-responsive">
              <thead>
                <tr>
                  <th scope="col">OnD</th>
                  <th scope="col">Searches</th>
                  <th scope="col">Reservations</th>
                  <th scope="col">Conversion</th>
                </tr>
              </thead>
              <tbody>
              {% for ond, vals in conversion.all.items %}
                <tr>
                  <th scope="row">{{ond}}</th>
                  <td>{{vals.searches}}</td>
                  <td>{{vals.reservations}}</td>
                  <td>{{vals.conversion}}</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
        </div>
        <div class="col">
            <h2>Conversations</h2>
            <input class="form-control" id="session_input" type="text" placeholder="Search..">
            <table id="session_table" class="table table-striped table-hover table-sm table-responsive">
              <thead>
                <tr>
                  <th scope="col">Session Id</th>
                  <th scope="col">Conversation Id</th>
                  <th scope="col">Function</th>
                  <th scope="col">result</th>
                  <th scope="col">session_id</th>
                </tr>
              </thead>
              <tbody>

              {% for i, vals in conversations.items %}
                <tr>
                  <th scope="row">{{i}}</th>
                  <td>{{vals.conversation_id}}</td>
                  <td>{{vals.function_name}}</td>
                  <td>{{vals.result}}</td>
                  <td>{{vals.session_id}}</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
        </div>
    </div>
<div class="row"></div>
<div class="row">{{request}}</div>
<div class="row">{{request.COOKIES}}</div>
<div class="row">{{request.COOKIES}}</div>
<div class="row">{{request.cache.GET}}</div>
<div class="row">{{request.cache.POST}}</div>


</div>

<script>
$(document).ready(function(){
  $("#conversion_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#conversion_table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
$(document).ready(function(){
  $("#session_input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#session_table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>






{% endblock %}